:root {
	--background: #ffffff;
	--size: 16px;
	--color: #111111;
	--weight: 100;
	--jsColor: #ffc600;
}
body {
	background: var(--background);
	color: var(--color);
	font-family: "helvetica neue", sans-serif;
	font-weight: var(--weight);
	font-size: var(--size);
	text-align: center;
}

.hl {
	color: var(--jsColor);
}
